
.container{
	width: 80%;
	margin: auto;
}

.container > button{
	width: 8%;
	float: left;
	padding: 10px;
	margin-top: 40px;
}

.word_cont{
	width: 40%;
	float: left;
	margin-top: 20px;
}
.nofound{
	border: 2px solid rgba(255,0,0,0.5);
	color: gray;
	font-style: italic
}
.success{
	border: 2px solid rgba(0,255,0,0.5);
	color: gray;
	font-style: italic
}
.word_box{
	border: 2px solid rgba(100,100,100,0.5);
}

.word_cont > input{
	border-radius: 5px;
	display: inherit;
	margin: auto;
	text-align: center;
	padding: 15px;
	width: 80%;
}

.word_cont > span{
	margin: 28px;
}

